/**
#6A6557 #372E21 #ADA68F #DAD2BF #9A8C66
#6B6455 #443021 #AFA690 #DAD0BC #9A8663


Blue
#4E6477#173A55#AA998A#DDC0A3#817E7E
**/
body{
    background-color:#DAD2BF;
    color:#372E21;
}
#gmenu{
    border: 4px solid #372E21;
}
#gmenu li{
    list-style: none;
}
#gmenu li a{
    color:#372E21;
    text-decoration:none;
    font-size:50px;
}

label.sep:before{
    content:" | ";
}