<!doctype html>
<html lang="en">
  <head>
	<title>QW</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/ui.css" >
	<link rel="icon" type="image/png" href="/favicon.ico">
  </head>
  <body>
	<header>
	  <h1>QW</h1>
	</header>
	<nav>
	  <ul>
		<li><a href="/">home</a></li>
	  </ul>
	</nav>
	<div id="app">
	  <section id="mainmenu"></section>
	  <section id="cell"></section>
	  <section id="char"></section>
	  <section id="inv"></section>
	  <section id="map"></section>
	</div>
	<footer>
		<p id="framecount"></p>
	</footer>

	  <!-- templates -->
	<script type="text/template" id="tpl_charsheet">
			<fieldset>
			  <legend>Basic</legend>
	  <div>
		<label for="char_name">Name</label>
		<input type="text" name="char_name" id="char_name" {{#unless fullform}}readonly{{/unless}} value="{{char.name}}"/>
	  </div>
	  <div>
		<label for="char_race">Race</label>
		{{#if fullform}}
		<select type="text" name="char_race" id="char_race" >
			  <option value="">-- select a race --</option>
			  <option value="elf">Elf</option>
			<option value="human">Human</option>
			  <option value="dwarf">Dwarf</option>
			  <option value="fairie">Fairie</option>
			<option value="orc">Orc</option>
			<option value="goblin">Goblin</option>
			<option value="sbrinz">Sbrinz</option>
			<option value="pixie">Pixie</option>
		</select>
		{{else}}
		  <p>TEST</p>
		{{/if}}
	  </div>
	  <div>
		<label for="char_class">Class</label>
		{{#if fullform}}
		<select type="text" name="char_class" id="char_class" >
			<option value="">-- select a class --</option>
			<option value="warrior">warrior</option>
			<option value="guard">guard</option>
			<option value="mage">mage</option>
			<option value="priest">priest</option>
			<option value="thespian">thespian</option>
			<option value="artist">artist</option>
			<option value="thief">thief</option>
			<option value="assassin">assassin</option>
			<option value="artisan">artisan</option>
			<option value="farmer">farmer</option>
		</select>
		{{else}}
		  <p>TEST</p>
		{{/if}}
	  </div>
			</fieldset>
			<fieldset>
							  <legend>Attributes</legend>
							  <div>
									  <label for="char_lvl">LVL <span id="char_lvl" name="char_lvl">{{char.lvl}}</span></label>
									  <label class="sep" for="char_xp">XP <span id="char_xp" name="char_xp">{{char.xp}}</span></label>
									  <label class="sep" for="char_lp">LP <span id="char_lp" name="char_lp">{{char.lp}}</span></label>
							  </div>
			  <div>
				  <label for="char_hp">HP <span id="char_hp" name="char_hp">{{char.hp}}</span></label>
				  <label class="sep" for="char_ap">AP <span id="char_ap" name="char_ap">{{char.ap}}</span></label>
				  <label class="sep" for="char_wp">WP <span id="char_wp" name="char_wp">{{char.wp}}</span></label>
			  </div>
			  <div>
				  <label for="char_str">STR <input type="number" min="0" max="10" step="1" id="char_str" name="char_str" value="" /></label>
				  <label for="char_agi">AGI <input type="number" min="0" max="10" step="1" id="char_agi" name="char_agi" value="" /></label>
				  <label for="char_pwr">PWR <input type="number" min="0" max="10" step="1" id="char_pwr" name="char_pwr" value="" /></label>
			  </div>

			</fieldset>
			<fieldset>
			  <legend>Skills</legend>

			</fieldset>
			<fieldset>
			  <legend>Inventory</legend>
			</fieldset>
			<button id="btn_charsheet_done">Done</button>
	</script>
	<script type="text/template" id="tpl_charnew"></script>
	<script type="text/template" id="tpl_mainmenu">
	  <ul id="gmenu">  
		<li><a href="#" id="btn_new" >new</a></li>
		<li><a href="#" id="btn_open">open</a></li>
		<li><a href="#" id="btn_help">help</a></li>
	  </ul>
	</script>
	<script type="text/template" id="tpl_cell">
	  <div class="cell" id="{{cell.id}}">
		{{cell.description}}
	  </div>
	</script>
				
				
				
				
	<!-- end templates -->
	<script type="text/javascript" src="js/vendor/jquery-3.2.1.min.js"></script>
	<!-- script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.localStorage.min.js"></script -->
	<script type="text/javascript" src="js/vendor/handlebars-v4.0.11.js"></script>
	<script type="text/javascript" src="js/dataprovider.js"></script>
	<script type="text/javascript" src="js/save.js"></script>
	<script type="text/javascript" src="js/char.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
  </body>
</html>